//
//  Secrets.xcconfig
//  MusicNest
//
//  Created by Siddharth Dave on 30/06/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


YOUTUBE_API_KEY = AIzaSyCHE1PH9_oC_2QyNLzt8Jn7pgq_22HZ8lI
